:root {
    // primary colors
    --primary-color-1: #f15a29;

    // secondary colors
    --secondary-color-1: #e6440f;
    --secondary-color-2: #fef4f1;

    // neutral colors
    --neutral-color-800: #070707;
    --neutral-color-700: #303030;
    --neutral-color-600: #5a5a5a;
    --neutral-color-500: #838383;
    --neutral-color-400: #acacac;
    --neutral-color-300: #d6d6d6;
    --neutral-color-200: #f3f3f3;
    --neutral-color-100: #fff;

    // container
    --container-padding: 15px;
    --container-width: 1240px;
    --wrapper-width: 1440px;

    // transition
    --transition: 0.2s ease-in-out;

    // z-index
    --z-index-0: -1;
    --z-index-1: 1;
    --z-index-2: 2;
    --z-index-3: 3;
    --z-index-4: 4;

    @include desktop {
        --container-width: 1240px;
    }

    @include tablet {
        --container-width: 924px;
    }

    @include mobile {
        --container-width: 380px;
    }
}
