<footer class="footer">
    <div class="footer__container container">
        <div class="footer__top">
            <div class="footer__top-left">
                <div class="footer__logo logo">
                    <img src="./assets/icons/logo.svg" alt="logo" width="176" height="40">
                </div>
                <div class="footer__top-text text-p-default">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doin tempor incididunt labore et magna</p>
                </div>
            </div>
            <div class="footer__top-right">
                <div class="footer__footer__menu">
                    <h6 class="footer__footer__menu-title">
                        Footer Menu
                    </h6>
                    <ul class="footer__footer__menu-list">
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Home</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">About</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Properties</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Property Single</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Agents</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Agencts Single</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Blog</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Blog post</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Contact</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">FAQs</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Coming Soon</a>
                        </li>
                        <li class="footer__footer__menu-item">
                            <a href="/" class="footer__footer__menu-link">Subscribe us</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__follow__us">
                    <h6 class="footer__follow__us-title">
                        Follow us
                    </h6>
                    <ul class="footer__follow__us-list">
                        <li class="footer__follow__us-item">
                            <a href="#!" class="footer__follow__us-link">Facebook</a>
                        </li>
                        <li class="footer__follow__us-item">
                            <a href="#!" class="footer__follow__us-link">Twitter</a>
                        </li>
                        <li class="footer__follow__us-item">
                            <a href="#!" class="footer__follow__us-link">Instagram</a>
                        </li>
                        <li class="footer__follow__us-item">
                            <a href="#!" class="footer__follow__us-link">LinkedIn</a>
                        </li>
                        <li class="footer__follow__us-item">
                            <a href="#!" class="footer__follow__us-link">YouTube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <span class="footer__bottom-copyright">
                Copyright © EstatePro | Designed by <a href="#!">Kartik Bansal</a> - Powered by <a href="#!">Figma</a>
            </span>
        </div>
    </div>
</footer>