<section class="clients-say">
    <div class="clients-say__container container">
        <h2 class="clients-say__title heading-h2">
            What our clients say
        </h2>
        <div class="clients-say__body">
            <div  class="clients-say__body-image">
                <img src="./assets/image/clients-say-image.png" alt="">
            </div>
            <div class="clients-say__body-card">
                <h5 class="clients-say__body-card__title heading-h5">
                    “They did an amazing job for our house.”
                </h5>
                <p class="clients-say__body-card__text text-p-default">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit cilisis pretium leo pellentesque ultrices est varius amet rhoncus sed euismod sit id purus elementum nulla tincidunt massa vel.
                </p>
                <div class="clients-say__body-card__author">
                    <img src="./assets/image/author-photo.jpg" alt="" class="clients-say__body-card__author-photo">
                    <span class="clients-say__body-card__author-name">Tony Stark</span>
                </div>
            </div>
        </div>
        <button class="clients-say__button button text-p-default">
            Get in touch
        </button>
    </div>
</section>