<section class="hero">
    <div class="hero__container container">
        <div class="hero__top">
            <h1 class="hero__title heading-h1">
                The best place to find your <span>dream house</span>
            </h1>
            <div class="hero__desc">
                <p class="hero__desc-text">
                    We are  real estate agency that willhelp you designing a modern and minimalist dream house, let’s discuss.
                </p>
                <button class="hero__button button">
                    <a href="#!" class="hero__button-link">Get In Touch</a>
                </button>
                <table class="hero__stats">
                    <thead class="hero__stats-head">
                        <tr class="hero__stats-head-row">
                            <th class="hero__stats-head-th heading-h5">1200<span>+</span></th>
                            <th class="hero__stats-head-th heading-h5">4500<span>+</span></th>
                            <th class="hero__stats-head-th heading-h5">240<span>+</span></th>
                        </tr>
                    </thead>
                    <tbody class="hero__stats-body">
                        <tr class="hero__stats-body-row">
                            <td class="hero__stats-body-td">Premium Product</td>
                            <td class="hero__stats-body-td">Happy Customer</td>
                            <td class="hero__stats-body-td">Award Winning</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hero__bottom">
            <div class="hero__image">
                <img src="./assets/image/hero__image.jpg" alt="">
            </div>
            <form class="hero__form form">
                <div class="hero__form-input">
                    <input type="search" placeholder="Search by location...">
                    <button class="hero__form__button button" type="submit">
                        <a href="#!" class="hero__form__button-link">Search Now</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>