<section class="popular-resident">
    <div class="popular-resident__container container">
        <div class="popular-resident__top">
            <h2 class="popular-resident__title heading-h2">
                Popular Resident
            </h2>
            <span class="popular-resident__top-span"><a href="#!">Explore All</a></span>
        </div>
        
        <div class="popular-resident__grid">
            <div class="popular-resident__grid-item popular-resident__grid-item--1">
                <div class="popular-resident__grid-image">
                    <img src="./assets/image/grid-image-1.jpg" alt="image" width="580" height="434">
                </div>
                <span class="popular-resident__grid-price heading-h3">$ 59,345</span>
                <span class="popular-resident__grid-location text-p-large">Home in Downtown, Los Angeles</span>
                <div class="popular-resident__grid-info">
                    <span class="popular-resident__grid-info-square">2500 sqft</span>
                    <span class="popular-resident__grid-info-bedroom">3</span>
                    <span class="popular-resident__grid-info-bathroom">2</span>
                </div>
            </div>
            <div class="popular-resident__grid-item popular-resident__grid-item--2">
                <div class="popular-resident__grid-image">
                    <img src="./assets/image/grid-image-2.jpg" alt="image" width="580" height="434">
                </div>
                <span class="popular-resident__grid-price heading-h3">$ 79,345</span>
                <span class="popular-resident__grid-location text-p-large">Home in Downtown, Los Angeles</span>
                <div class="popular-resident__grid-info">
                    <span class="popular-resident__grid-info-square">3000 sqft</span>
                    <span class="popular-resident__grid-info-bedroom">4</span>
                    <span class="popular-resident__grid-info-bathroom">3</span>
                </div>
            </div>
            <div class="popular-resident__grid-item popular-resident__grid-item--3">
                <div class="popular-resident__grid-image">
                    <img src="./assets/image/grid-image-3.jpg" alt="image" width="580" height="434">
                </div>
                <span class="popular-resident__grid-price heading-h3">$ 53,542</span>
                <span class="popular-resident__grid-location text-p-large">Home in Downtown, Los Angeles</span>
                <div class="popular-resident__grid-info">
                    <span class="popular-resident__grid-info-square">2500 sqft</span>
                    <span class="popular-resident__grid-info-bedroom">3</span>
                    <span class="popular-resident__grid-info-bathroom">2</span>
                </div>
            </div>
            <div class="popular-resident__grid-item popular-resident__grid-item--4">
                <div class="popular-resident__grid-image">
                    <img src="./assets/image/grid-image-4.jpg" alt="image" width="580" height="434">
                </div>
                <span class="popular-resident__grid-price heading-h3">$ 99,643</span>
                <span class="popular-resident__grid-location text-p-large">Home in Downtown, Los Angeles</span>
                <div class="popular-resident__grid-info">
                    <span class="popular-resident__grid-info-square">5550 sqft</span>
                    <span class="popular-resident__grid-info-bedroom">6</span>
                    <span class="popular-resident__grid-info-bathroom">5</span>
                </div>
            </div>
        </div>
    </div>
</section>
    