.heading {
    &-h1 {
        font-size: 90px;
        line-height: 1.16;
    }

    &-h2 {
        font-size: 70px;
    }

    &-h3 {
        font-size: 50px;
    }

    &-h4 {
        font-size: 32px;
        line-height: 1.25;
    }

    &-h5 {
        font-size: 28px;
    }

    &-h6 {
        font-size: 24px;
    }

    &-h2,
    &-h3,
    &-h4,
    &-h5 {
        line-height: 1.25;;
    }
}

.text {
    &-p {

        &-large {
            font-size: 24px;
            line-height: 1.5;
        }

        &-default {
            font-size: 18px;
            line-height: 1.5;
        }

        &-small {
            font-size: 14px;
            line-height: 1.5;
        }
    }
}
